src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Derby_Database_Config" doc:name="Database Config" doc:id="84a3996f-0d6a-4432-805f-8ac07befab30" >
		<db:generic-connection url="jdbc:derby://localhost:1527/memory:training" driverClassName="org.apache.derby.jdbc.ClientDriver"/>
	</db:config>
	<flow name="getFlights" doc:id="b8a32947-2116-40ca-9733-d7f0ebde99b0" >
		<logger level="INFO" doc:name="Logger" doc:id="99ed98ae-8ad4-46db-ad9f-9a27e23b6350" />
		<db:select doc:name="Select" doc:id="b55b4121-0e39-4543-a68c-86799971875c" config-ref="Derby_Database_Config">
			<db:sql>SELECT * FROM american</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="0bef2a24-69e3-4d96-9d5d-5d4054d07641" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.CODE1 default "") ++ (payload01.CODE2 default ""),
	price: payload01.PRICE default 0,
	departureDate: payload01.TAKEOFFDATE as String default "",
	origin: payload01.FROMAIRPORT default "",
	destination: payload01.TOAIRPORT default "",
	emptySeats: payload01.SEATSAVAILABLE default 0,
	plane: {
		"type": payload01.PLANETYPE default "",
		totalSeats: payload01.TOTALSEATS default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsByID" doc:id="2160b5bc-71c7-4234-bbc6-1280d17c8137" >
		<logger level="INFO" doc:name="Logger" doc:id="1ffc0fa6-3a38-4a3b-a844-9e296324c051" />
		<db:select doc:name="Select" doc:id="97fa9c70-e0b6-4c20-a4c9-a00ee52d406c" config-ref="Derby_Database_Config" >
			<db:sql >SELECT * 
FROM american
WHERE ID = :ID</db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a000715b-a9c8-4848-b0d2-d2138d82f2fa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.CODE1 default "") ++ (payload01.CODE2 default ""),
	price: payload01.PRICE default 0,
	departureDate: payload01.TAKEOFFDATE as String default "",
	origin: payload01.FROMAIRPORT default "",
	destination: payload01.TOAIRPORT default "",
	emptySeats: payload01.SEATSAVAILABLE default 0,
	plane: {
		"type": payload01.PLANETYPE default "",
		totalSeats: payload01.TOTALSEATS default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlight" doc:id="13a4636f-b82c-4cc8-8b0b-78be86b4d9bf" >
		<set-payload value='{"message": "Flight added (but not really)"}' doc:name="Set Payload" doc:id="24598a26-93b9-4c51-87f1-7555536c0017" />
	</flow>
</mule>
